body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  background-color: #f0f0f0;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


header {
  width: 100%;
  background-color: #1abc9c;
  padding: 20px;
  font-size: 15px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}
nav a {
  
  text-decoration: none;
}
.logo {
    list-style-type: none;
    margin: 0;
    padding-left: 15px;
    overflow: hidden;  
    color: white;
  }
nav ul a {
  color: #ffffff;
  text-decoration: none;
  border-radius: 25px;
  padding: 12px;
}
nav ul a:hover {
  background-color: #ffffff;
  color: black;
}
section#home {
  height: 100vh;
  display: grid;
  place-items: center;
}

#ham-menu {
  display: none;
}
nav ul.active {
  left: 0;
}
@media only screen and (max-width: 991px) {
  html {
    font-size: 56.25%;
  }
  header {
    padding: 2.2rem 5rem;
  }
}
button{
  font-size:56.25% ;
  padding: 8px;
  
}
@media only screen and (max-width: 767px) {
  html {
    font-size: 50%;
  }
  #ham-menu {
    display: block;
    color: #ffffff;
  }
  nav a#logo,
  #ham-menu {
    font-size: 3.2rem;
  }
  nav ul {
    background-color: #1abc9c;
    position: fixed;
    left: -100vw;
    top: 73.6px;
    width: 100vw;
    height: calc(100vh - 73.6px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: 1s;
    gap: 0;
    z-index: 2;
  }
  button{
    font-size:50% ;
    padding: 6px;
    
  }
}
@media only screen and (max-width: 575px) {
  html {
    font-size: 46.87%;
  }
  header {
    padding: 2rem 3rem;
  }
  nav ul {
    top: 65.18px;
    height: calc(100vh - 65.18px);
    z-index: 2;
  }
  button{
    font-size:46.87% ;
    padding: 5px;
    
  }
}
.footer {
  margin-top: auto;
  background-color: #1abc9c;
  color: white;
  text-align: center;
  padding: 16px;
}


a{
  text-decoration: none;
  color: #007bff;
}
a:hover {
  color: #0056b3;
}


.profile-container {
  min-height: 50%;
  min-width: 50%;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-container img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: block;
  margin: 0 auto 20px;
}

.profile-container p {
  margin: 10px 0;
}

.profilelink a {
  display: block;
  text-align: center;
  margin-bottom: 10px;
  text-decoration: none;
  color: #007bff;
}

.profilelink a:hover {
  color: #0056b3;
}

button{
  background-color: #1abc9c;
  border-radius: 10px;
  color: white;
  padding: 10px;
  border: none;
}